html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.editor-wrap {
  float: left;
  width: 50%;
  height: 100%;
  overflow: auto;
}

.preview-wrap {
  float: left;
  width: 50%;
  height: 100%;
  overflow: auto;
}

.editor-wrap .CodeMirror {
  font-size: 18px;
  height: 100%;
}

.preview-wrap .markdown-body {
  box-sizing: border-box;
  width: 100%;
  max-width: 980px;
  padding: 45px;
  font-size: 18px;
}

.CodeMirror pre.CodeMirror-line {
    font-family: hack, consolas, monospace;
}
